<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">A Warm Welcome!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
    possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam
    repellat.</p>
  <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
</header>

<!-- Page Features -->
<div class="row text-center" *ngIf="cusinesData else empty">



  <div class="col-lg-3 col-md-6 mb-4" *ngFor="let c of cusinesData">
    <div class="card h-100">
      <img class="card-img-top img-responsive" src="{{c.collection.image_url}}" alt="">
      <div class="card-body">
        <h4 class="card-title">

          {{c.collection.title}}
        </h4>
        <p class="card-text">
{{c.collection.description}}
          </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>


</div>

<ng-template #empty> No Customers Yet </ng-template>

<!-- /.row -->
