<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" (click)="toggleNavbar()"
      type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " [ngClass]="{ 'show': navbarOpen }"
      id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cuisines">Cuisines</a>
        </li>
        <li class="nav-item">
          <!-- routerLink="/login" routerLink="/signup"-->
          <a class="nav-link" *ngIf="!auth.loggedIn" (click)="auth.login()">login</a>
        </li>

         <li class="nav-item" >
         
           <!-- [src]="auth.userProfile.picture" -->
          <a class="nav-link" routerLink="userProfile" routerLinkActive="router-link-active">
           <img src="../../../assets/imgs/p-img.jpg"
           alt="" class=" rounded-circle photo " /><span>
asmaa ahmed
           </span> 
          </a>
        </li>


        <li class="nav-item" *ngIf="auth.loggedIn && auth.userProfile">
          <img src="../../../assets/imgs/p-img.jpg" alt="" class="img-responsive rounded-circle " />
           <!-- [src]="auth.userProfile.picture" -->
          <a class="nav-link" routerLink="userProfile" routerLinkActive="router-link-active">
            {{ auth.userProfile.name }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.loggedIn" (click)="auth.logout()">logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
